<section id="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="aboutimg">
                    <img src="img/karan.png">
                </div>
            </div>	
            <div class="col-md-6 col-lg-6">
            <div class="maincontent">
                <div class="maincontentinner about">
                    <h1>About <span>Me</span></h1>
                    <h3>Hello! i'm karanjot singh</h3>
                    <p>There was one thing that always excited me was developing websites and the day I stepped out of school I decided to work hard on the obsession I had with the digital world. So, I explored myself and embraced myself, and came up with the idea of this site so that I can share my learning with the students who are passionate about the digital world and want to build their career in the same.</p>
                    <div class="btn-box">
                        <a href="#" class="btn btn-lg btn-purp">Download Cv</a>
                    </div>
                </div>
            </div>
        </div>	
        </div>
    </div>
</section>