<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3>About <span>me</span></h3>
                <p></p>
            </div>
            <div class="col-lg-4">
                <h3>Important <span>Links</span></h3>
                <ul>
                    <a href = "/"> <li>Home</li> </a>
                   <a href = "/about"> <li>About me</li> </a>
                   <a href = "/services"> <li>Services</li> </a>
                   <a href = "/contact"> <li>Contact</li> </a>
                   <a href = "/projects"> <li>Projects</li> </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p class="text-center">&copy; Copyright All Right Reserved By Karanjot Sing</p>
    </div>
</footer>