<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h3>About <span>me</span></h3>
                <p>There was one thing that always excited me was developing websites and the day I stepped out of school I decided to work hard on the obsession I had with the digital world. So, I explored myself and embraced myself, and came up with the idea of this site so that I can share my learning with the students who are passionate about the digital world and want to build their career in the same.</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 footerul">
                <h3>Important <span>Links</span></h3>
                <ul>
                    <a href="/about"><li>About me</li></a>
                    <a href="/project"><li>Projects</li></a>
                    <a href="/services"><li>Services</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p class="text-center">&copy; Copyright All Right Reserved By <span><b>Karanjot Singh</b></span></p>
    </div>
</footer>