<html>
    <head>
        <title>test title</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <h1 id = "home">welcome</h1>  
    </body>
</html>

