/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
/*Define colors*/
:root{
	--primary: #3DCFD3;
	--dark: #161616;
	--white: #fff;
	--light: #F2F2F2;
	--ternary: #898989;
}
/*set all body font family*/
body{
	font-family: 'Poppins', sans-serif;
}
p{
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
	color: var(--ternary);
	margin:0;
}
/*all button design code*/
.btn:focus{
	outline: none;
	box-shadow: none;
}
.btn-purp {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    text-transform: uppercase;
    font-weight: 300;	
    font-size: 18px;
}
.btn-purp:hover{
	color: var(--white);
	background: var(--primary);
}
/*main section css*/
#hero{
	background: var(--dark);
	padding: 3rem 0;
	clip-path: polygon(0 0,100% 0,100% 100%, 70% 87%, 0 100%);
}
.mainimg{
	width: 100%;
	height: 550px;
}
.mainimg > img{
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}
.maincontent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.hero h6{
	font-size: 1.6rem;
	color: var(--primary);
	margin-bottom: 0.5rem;
}
.hero h1{
	font-size: 4rem;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom:2rem;
	color: var(--white)
}
.hero h1 span{
	color: var(--primary);
}
/*about section css*/
#aboutme{
	margin: 4rem 0;
}
.aboutimg{
	height: 500px;
	width: 100%;
}
.aboutimg > img{
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}
.about h1{
	margin-bottom: 1rem;
	font-size: 1.6rem;
	font-weight: 600;
}
.about h1 span{
	color: var(--primary);
}
.about h3{
	font-size: 1.5rem;
	font-weight: 400;
	font-style: italic;
}
.about p {
    font-size: 18px;
    margin-bottom: 20px;
}
/*service css*/
#service{
	margin: 4rem 0;
}
.ser{
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom:2rem;
}
.ser span{
	color: var(--primary);
}
.sermain{
	margin-top:4rem;
	margin-bottom: 4rem;
}
.icon-box {
    width: fit-content;
    margin: 0 auto;
    background: var(--primary);
    padding: 14px 23px;
    border:1px solid var(--primary);
    border-radius: 5px;
    margin-bottom: 20px;
}
.icon-box i {
    color: #fff;
    font-size: 38px;
}
.serbox:hover .icon-box{
	background: transparent;
}
.serbox:hover i{
	color: var(--primary);
}
.sercontent h2{
	text-transform: uppercase;
}
.sercontent h2 span{
	color: var(--primary);
}
.sercontent p{
	font-size: 18px;
}
/*project css*/
#projects{
	margin: 4rem 0;
	background: var(--dark);
	padding: 4rem 0;
}
#projects h2{
	color: var(--white);
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 30px;
}
/*footer css*/
footer{
	background: var(--dark);
	padding: 4rem 0 2rem 0;
}
footer h3{
	color: var(--white);
	text-transform: uppercase;
}
footer p{
	color: var(--white);
}
footer h3 span{
	color: var(--primary);
}
.copyright{
	margin-top: 30px;
}
.copyright p{
	color: var(--white);
}
.copyright p span{
	color: var(--primary);
}
.footerul ul{
	list-style: none;
	padding: 0;
}
.footerul ul li{
	color: var(--white);
	font-size: 18px;
	margin:10px 0;
	position: relative;
}
.footerul ul li:after{
	position: absolute;
	content: '';
	height: 3px; 
	width: 20px;
	background: var(--primary);
	bottom: 0;
	left:0;
	transition: all .3s;
}
.footerul ul li:hover{
	cursor: pointer;
}
.footerul ul li:hover:after{
	width: 50px;
}

/*nav bar css*/
.bg-dark1{
	background: var(--dark);
}
a.navbar-brand{
	width: 20%;
	margin-right: 40px;
}
a.navbar-brand img{
	width: 100%;
}
.btn-outline-success{
	border-color: var(--primary);
	color: var(--primary);
}
.btn-outline-success:hover{
	background: var(--primary);
}
a.nav-link {
    color: var(--white) !important;
    font-size: 16px;
    margin: 0 4px;
}
a.nav-link:hover{
	color: var(--primary) !important;
}
.navbar-toggler-icon{
	background-image: none !important; 
}
.navbar-toggler-icon i{
	color: var(--white);
	font-size: 26px;
}
@media (max-width: 991px){
	.hero h1 {
	    font-size: 3rem;
	}
	.mainimg {
	    height: 450px;
	}
	footer h3 {
	    font-size: 22px;
	}
}
@media (max-width: 767px){
	section#aboutme .row {
	    flex-direction: column-reverse;
	}
	.maincontent {
	    margin-bottom: 30px;
	}
	.serbox {
	    margin: 20px 0;
	}
	.footerul {
	    margin: 20px 0;
	}
}
@media (max-width: 567px){
	a.navbar-brand {
	    width: 65%;
	}
	#projects h2 {
	    font-size: 26px;
	}
	.copyright p {
	    font-size: 14px;
	}
}


/*project page css*/
.projectmain{
	margin: 4rem 0;
}
.pro span{
	color: var(--primary);
}
#gallery{
  column-count:2;
  column-gap:20px;
}
@media (max-width:1200px){
  #gallery{
  column-count:2;
  column-gap:20px;
}
}
@media (max-width:800px){
  #gallery{
  column-count:2;
  column-gap:20px;
}
}
@media (max-width:600px){
  #gallery{
  column-count:1;
}  
}
#gallery img{
  width:100%;
  height:auto;
  margin: 4% auto;
  box-shadow:-3px 5px 15px #000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}

/*contact page css*/
input[type=text],input[type=email],input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--dark);
}

.conatactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}
#contact{
	margin:4rem 0;
}
#contact h3{
	margin-bottom: 30px;
	font-size: 35px;
}
#contact h3 span{
	color: var(--primary)
}
/*login page cs*/
#login{
	padding: 100px 0;
	background: linear-gradient(130deg, rgba(23,43,77,0.98) 44%, rgba(17,205,239,0.7987570028011204) 94%);
}
.loginbox{
	background: rgba( 255, 255, 255, 0.4 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4.5px );
	-webkit-backdrop-filter: blur( 4.5px );
	border-radius: 25px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding: 0 0 30px;
}
.iconbox {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--primary);
    color: var(--white);
    margin: 0 auto;
    font-size: 26px;
    margin-top: -43px;
}
.form{
	padding: 0 30px
}
.form label{
	color: var(--white);
}
.form input{
	margin: 0;	
}
.form button{
	margin: 0 auto;
    display: block;
    background: var(--primary);
    color: var(--white);
}
/* Modal css */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
  }
  

  

  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  .modalmain{
	  background: var(--white);
	  border-radius: 10px;
	  padding: 20px 30px;
  }